@model RegisterModel
@{
    ViewData["Title"] = "OrganizationSignUp";
    Layout = "~/Views/Shared/_OrganizationLayout.cshtml";
}
@section styles{
    <link rel="stylesheet" href="/loginpage/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="/loginpage/css/style.css">
}
<div class="container">
    <div class="signup-content">
        <div class="signup-form">
            <h2 class="form-title">Sign up</h2>
            <form asp-route-returnUrl="@Model.ReturnUrl" method="POST" class="register-form" id="register-form">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                    <input type="text" asp-for="Name" placeholder="Name" />
                </div>
                <div class="form-group">
                    <label asp-for="Address"><i class="zmdi zmdi-account material-icons-name"></i></label>
                    <input type="text" asp-for="Address" placeholder="Address" />
                </div>
                <div class="form-group">
                    <label asp-for="Code"><i class="zmdi zmdi-account material-icons-name"></i></label>
                    <input type="text" asp-for="Code" placeholder="Code" />
                </div>
                <div class="form-group">
                    <label asp-for="About"><i class="zmdi zmdi-account material-icons-name"></i></label>
                    <input type="text" asp-for="About" placeholder="About" />
                </div>
                <div class="form-group">
                    <label asp-for="PostalCode"><i class="zmdi zmdi-account material-icons-name"></i></label>
                    <input type="text" asp-for="PostalCode" placeholder="Postal Code" />
                </div>
                <div class="form-group">
                    <label asp-for="Email"><i class="zmdi zmdi-email"></i></label>
                    <input type="email" asp-for="Email" placeholder="Your Email" />
                </div>
                <div class="form-group">
                    <label asp-for="Password"><i class="zmdi zmdi-lock"></i></label>
                    <input type="password" asp-for="Password" placeholder="Password" />
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword"><i class="zmdi zmdi-lock-outline"></i></label>
                    <input type="password" asp-for="ConfirmPassword" placeholder="Repeat your password" />
                </div>
                <div class="form-group">
                    <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                    <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                </div>
                <div class="form-group form-button">
                    <input type="submit" name="signup" id="signup" class="form-submit" value="Register" />
                </div>
            </form>
        </div>
        <div class="signup-image">
            <figure><img src="/loginpage/images/signup-image.jpg" alt="sing up image"></figure>
            <a href="#" class="signup-image-link">I am already member</a>
        </div>
    </div>
</div>
@section scripts{
    <script src="/loginpage/vendor/jquery/jquery.min.js"></script>
    <script src="/loginpage/js/main.js"></script>
}





