<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1 style="font-family:'Blackadder ITC'">Online Examination System</h1>
                    <p>All rights reserved © 2021</p>
                </div>
            </div>
        </div>
    </div>
</footer>