<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online Exam</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- google fonts -->
    <!-- Css link -->
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="/public/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/css/owl.carousel.css">
    <link rel="stylesheet" href="/public/css/owl.transitions.css">
    <link rel="stylesheet" href="/public/css/animate.min.css">
    <link rel="stylesheet" href="/public/css/lightbox.css">
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/preloader.css">
    <link rel="stylesheet" href="/public/css/image.css">
    <link rel="stylesheet" href="/public/css/icon.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/responsive.css">
    @RenderSection("styles", false)
</head>
<body id="top">
    <partial name="_HeaderPartial" />
    <div class="wrapper">
        @RenderBody()
        <partial name="_FooterPartial" />
    </div>

    <!-- load Js -->
    <script src="/public/js/jquery-1.11.3.min.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBI14J_PNWVd-m0gnUBkjmhoQyNyd7nllA"></script>
    <script src="/public/js/waypoints.min.js"></script>
    <script src="/public/js/lightbox.js"></script>
    <script src="/public/js/jquery.counterup.min.js"></script>
    <script src="/public/js/owl.carousel.min.js"></script>
    <script src="/public/js/html5lightbox.js"></script>
    <script src="/public/js/jquery.mixitup.js"></script>
    <script src="/public/js/wow.min.js"></script>
    <script src="/public/js/jquery.scrollUp.js"></script>
    <script src="/public/js/jquery.sticky.js"></script>
    <script src="/public/js/jquery.nav.js"></script>
    <script src="/public/js/main.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>