
@{
    ViewData["Title"] = "EditBatch";
}
@section styles{
    <link rel="stylesheet" href="/member/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="/member/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1>Batch</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-controller="Batch" asp-action="Index">Batch</a></li>
                    <li class="breadcrumb-item active">Edit Batch</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h3 class="card-title">
                    Batch Information
                </h3>
            </div>
            <div class="card-body">
                <h4>Batch Name</h4>
                <ul class="nav nav-tabs" id="custom-content-above-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="custom-content-above-basicinfo-tab" data-toggle="pill" href="#custom-content-above-basicinfo" role="tab" aria-controls="custom-content-above-basicinfo" aria-selected="true">Basic Info</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="custom-content-above-assignparticipants-tab" data-toggle="pill" href="#custom-content-above-assignparticipants" role="tab" aria-controls="custom-content-above-assignparticipants" aria-selected="false">Assign Participants</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="custom-content-above-assigntrainers-tab" data-toggle="pill" href="#custom-content-above-assigntrainers" role="tab" aria-controls="custom-content-above-assigntrainers" aria-selected="false">Assign Trainers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="custom-content-above-scheduleexams-tab" data-toggle="pill" href="#custom-content-above-scheduleexams" role="tab" aria-controls="custom-content-above-scheduleexams" aria-selected="false">Schedule Exams</a>
                    </li>
                </ul>
                <div class="tab-content" id="custom-content-above-tabContent">
                    <div class="tab-pane fade show active" id="custom-content-above-basicinfo" role="tabpanel" aria-labelledby="custom-content-above-basicinfo-tab">
                        <form class="form-horizontal">
                            <div class="card-body">
                                <div class="form-group row">
                                    <label for="organization" class="col-sm-3 col-form-label">Organization</label>
                                    <div class="col-sm-9">
                                        <select class="form-control">
                                            <option>Select</option>
                                            <option>option 1</option>
                                            <option>option 2</option>
                                            <option>option 3</option>
                                            <option>option 4</option>
                                            <option>option 5</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="course" class="col-sm-3 col-form-label">Course</label>
                                    <div class="col-sm-9">
                                        <select class="form-control">
                                            <option>Select</option>
                                            <option>option 1</option>
                                            <option>option 2</option>
                                            <option>option 3</option>
                                            <option>option 4</option>
                                            <option>option 5</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="batchNo" class="col-sm-3 col-form-label">Batch No</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="batchNo" placeholder="Batch No">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="description" class="col-sm-3 col-form-label">Description</label>
                                    <div class="col-sm-9">
                                        <textarea name="textarea" type="text" class="form-control" id="description"></textarea>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="startDate" class="col-sm-3 col-form-label">Start Date</label>
                                    <div class="input-group col-sm-9">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                        </div>
                                        <input type="text" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="endDate" class="col-sm-3 col-form-label">End Date</label>
                                    <div class="input-group col-sm-9">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                        </div>
                                        <input type="text" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <button type="submit" class="btn btn-success">Update</button>
                                <button type="submit" class="btn btn-default float-right">Cancel</button>
                            </div>
                            <!-- /.card-footer -->
                        </form>
                    </div>
                    <div class="tab-pane fade" id="custom-content-above-assignparticipants" role="tabpanel" aria-labelledby="custom-content-above-assignparticipants-tab">
                        <form class="form-horizontal">
                            <div class="card-body">
                                <div class="form-group row">
                                    <label for="organization" class="col-sm-2 col-form-label">Participant</label>
                                    <div class="col-sm-6">
                                        <select class="form-control">
                                            <option>Select</option>
                                            <option>option 1</option>
                                            <option>option 2</option>
                                            <option>option 3</option>
                                            <option>option 4</option>
                                            <option>option 5</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <button type="submit" class="btn btn-success rounded-circle">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                                    <div class="col-sm-2">
                                        <button type="submit" class="btn btn-success">Add</button>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-body -->
                            @*<div class="card-footer">
                                    <button type="submit" class="btn btn-success">Add</button>
                                </div>*@
                            <!-- /.card-footer -->
                        </form>
                    </div>
                    <div class="tab-pane fade" id="custom-content-above-assigntrainers" role="tabpanel" aria-labelledby="custom-content-above-assigntrainers-tab">
                        <form class="form-horizontal">
                            <div class="card-body">
                                <div class="form-group row">
                                    <label for="organization" class="col-sm-2 col-form-label">Trainer</label>
                                    <div class="col-sm-6">
                                        <select class="form-control">
                                            <option>Select</option>
                                            <option>option 1</option>
                                            <option>option 2</option>
                                            <option>option 3</option>
                                            <option>option 4</option>
                                            <option>option 5</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <button type="submit" class="btn btn-success rounded-circle">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                                    <div class="col-sm-2">
                                        <button type="submit" class="btn btn-success">Add</button>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-body -->
                            @*<div class="card-footer">
                                    <button type="submit" class="btn btn-success">Add</button>
                                </div>*@
                            <!-- /.card-footer -->
                        </form>
                    </div>
                    <div class="tab-pane fade" id="custom-content-above-scheduleexams" role="tabpanel" aria-labelledby="custom-content-above-scheduleexams-tab">
                        <form class="form-horizontal">
                            <div class="card-body">
                                <div class="form-group row">
                                    <label for="organization" class="col-sm-2 col-form-label">Participant</label>
                                    <div class="col-sm-6">
                                        <select class="form-control">
                                            <option>Select</option>
                                            <option>option 1</option>
                                            <option>option 2</option>
                                            <option>option 3</option>
                                            <option>option 4</option>
                                            <option>option 5</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <button type="submit" class="btn btn-success rounded-circle">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="duration" class="col-sm-2 col-form-label">Exam Date Time</label>
                                    <div class="input-group col-sm-6">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="far fa-clock"></i></span>
                                        </div>
                                        <input type="text" class="form-control float-right" id="reservationtime">
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <button type="submit" class="btn btn-success">Schedule</button>
                                <button type="submit" class="btn btn-default float-right">Cancel</button>
                            </div>
                            <!-- /.card-footer -->
                        </form>
                    </div>
                </div>
            </div>
            <!-- /.card -->
        </div>

    </div>
</section>

@section scripts{
    <script src="https://cdn.tiny.cloud/1/nw1hlo3uo111mlrt0795i0dz4gfr53jjvdbn4gthatqtz3b3/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="/member/plugins/select2/js/select2.full.min.js"></script>
    <script src="/member/plugins/daterangepicker/daterangepicker.js"></script>
    <script src="/member/plugins/inputmask/min/jquery.inputmask.bundle.min.js"></script>
    <script>
        tinymce.init({ selector: 'textarea' });
        $(function () {
            $('.select2').select2()
        })

        $('#reservationtime').daterangepicker({
            timePicker: true,
            timePickerIncrement: 30,
            locale: {
                format: 'MM/DD/YYYY hh:mm A'
            }
        })
        $('[data-mask]').inputmask()
    </script>
}


