
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="wrapper">
    <section id="banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h1>A Solution For Online Examination</h1>
                        <h1>If you are a organization click Organization or if you are a student click student</h1>
                        <h2>The purpose of the online examination system is to test the subject knowledge of the students. Such a system eliminates logistical hassles and drawbacks in the traditional mode of the pen-and-paper examination</h2>
                        <div class="buttons">
                            <a asp-action="Organization" asp-controller="Home" class="btn btn-learn">Organization</a>
                            <a asp-action="Student" asp-controller="Home" class="btn btn-learn">Student</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


