
@{
    ViewData["Title"] = "Organization";
    Layout = "~/Views/Shared/_OrganizationLayout.cshtml";
}

<section id="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1>A Solution For Online Examination</h1>
                    <h2>The purpose of the online examination system is to test the subject knowledge of the students. Such a system eliminates logistical hassles and drawbacks in the traditional mode of the pen-and-paper examination</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="scrolldown">
        <a id="scroll" href="#portfolio" class="scroll"></a>
    </div>
</section>
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h2>Exams</h2>
                    <p>Please Choose which exam you want to participate</p>
                </div>
                <div class="block">
                    <div class="recent-work-mixMenu">
                        <ul>
                            <li><button class="filter" data-filter="all">All</button></li>
                            <li><button class="filter" data-filter=".category-1">Backend</button></li>
                            <li><button class="filter" data-filter=".category-2">Frontend</button></li>
                        </ul>
                    </div>
                    <div class="recent-work-pic">
                        <ul id="mixed-items">
                            <li class="mix category-2 col-md-4 col-xs-6" data-my-order="1">
                                <a class="example-image-link" href="/public/img/examimages/htmlcss.png" data-lightbox="example-set">
                                    <img class="img-responsive" src="/public/img/examimages/htmlcss.png" alt="">
                                </a>
                            </li>
                            <li class="mix category-1 col-md-4 col-xs-6" data-my-order="2">
                                <a class="example-image-link" href="/public/img/examimages/asp.net-core-mvc.png" data-lightbox="example-set">
                                    <img class="img-responsive" src="/public/img/examimages/asp.net-core-mvc.png" alt="">
                                </a>
                            </li>
                            <li class="mix category-2 col-md-4 col-xs-6" data-my-order="3">
                                <a class="example-image-link" href="/public/img/examimages/bootstrap.png" data-lightbox="example-set">
                                    <img class="img-responsive" src="/public/img/examimages/bootstrap.png" alt="">
                                </a>
                            </li>
                            <li class="mix category-1 col-md-4 col-xs-6" data-my-order="4">
                                <a class="example-image-link" href="/public/img/examimages/csharp.png" data-lightbox="example-set">
                                    <img class="img-responsive" src="/public/img/examimages/csharp.png" alt="">
                                </a>
                            </li>
                            <li class="mix category-1 col-md-4 col-xs-6" data-my-order="5">
                                <a class="example-image-link" href="/public/img/examimages/dotnet.png" data-lightbox="example-set">
                                    <img class="img-responsive" src="/public/img/examimages/dotnet.png" alt="">
                                </a>
                            </li>
                            <li class="mix category-1 col-md-4 col-xs-6" data-my-order="6">
                                <a class="example-image-link" href="/public/img/examimages/dotnetcore.png" data-lightbox="example-set">
                                    <img class="img-responsive" src="/public/img/examimages/dotnetcore.png" alt="">
                                </a>
                            </li>
                            <li class="mix category-2 col-md-4 col-xs-6" data-my-order="7">
                                <a class="example-image-link" href="/public/img/examimages/jquery.png" data-lightbox="example-set">
                                    <img class="img-responsive" src="/public/img/examimages/jquery.png" alt="">
                                </a>
                            </li>
                            <li class="mix category-2 col-md-4 col-xs-6" data-my-order="8">
                                <a class="example-image-link" href="/public/img/examimages/js.jpg" data-lightbox="example-set">
                                    <img class="img-responsive" src="/public/img/examimages/js.jpg" alt="">
                                </a>
                            </li>
                            <li class="mix category-2 col-md-4 col-xs-6" data-my-order="9">
                                <a class="example-image-link" href="/public/img/examimages/angular.png" data-lightbox="example-set">
                                    <img class="img-responsive" src="/public/img/examimages/angular.png" alt="">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts{

}

